.settings .settings-header .mat-card-title {
  display: flex;
  align-items: center;
}
.settings .settings-header h4 {
  color: #b0bec5;
  text-transform: uppercase;
  margin: 0 5px;
}
.settings .mat-list-item {
  color: #b0bec5;
}
.settings .list-item-content .list-item-content {
  justify-content: space-between;
}
