/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~ngx-toastr/toastr.css';

body {
  background-color: #b0bec5;
  margin: 0;
  padding: 0;
}
.custom-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.full-width {
  width: 100%;
}
.card {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.search-block {
  position: relative;
}
.search-block-left {
  position: initial;
}
/* ----- CUSTOM STYLES ----- */
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
